<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/logo.png" alt="Logo Duoc UC" width="100%">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [routerLink]="['/contacto']">Ingresar</ion-button>
        <a [routerLink]="['/home']" class="small-text">¿Olvidó su contraseña?</a>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>
