<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">INGRESO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <img src="assets/img/logo.png" alt="">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-button expand="block" (click)="eliminarDato()">
      <ion-icon name="trash-outline"></ion-icon>ELIMINAR DATO
    </ion-button>
    <ion-button expand="block" (click)="limpiarDatos()">
      <ion-icon name="nuclear-outline"></ion-icon>LIMPIAR DATOS
    </ion-button>
  
</ion-content>
